body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;
}

/* .header {
    background-color: #77797e;
    color: #000;
    width: fit-content;
    height: 100px;
} */

#container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.button {
    width: 120px;
    padding: 40px;
    margin: 10px;
    border: solid green 3px;
    border-radius: 15%;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.center {
    width: 500px;
    height: 500px;
    background-color: #956;
}

.footer {
    display: flex;
    background-color: #77797e;
    width: auto;
    height: 100px;
    margin: 0%;
    padding: 0px;
}